verificari.dtd


<!ELEMENT persoane (persoana+)>
<!ELEMENT persoana (nume,prenume,varsta>
<!ATTLIST persoana id ID 0>
<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)> 
<!ELEMENT adresa (strada,numar,localitate,judet,tara)> 
<!ELEMENT strada (#PCDATA)> 
<!ELEMENT numar (#PCDATA)> 
<!ELEMENT localitate (#PCDATA)> 
<!ELEMENT judet (#PCDATA)> 
<!ELEMENT tara (#PCDATA)> 
<!ELEMENT resume (experience,education)> 
<!ELEMENT experience (#PCDATA)> 
<!ELEMENT education (#PCDATA)> 